# Public site URLs (safe to commit as examples)
VITE_VCH_HUB_URL=https://www.veteranscentralhub.com
VITE_CLAIMBUILDER_URL=https://claimbuilder.veteranscentralhub.com
VITE_SYMPTOM_TRACKER_URL=https://tracker.veteranscentralhub.com
